@keyframes imgPrincipalFundo {
	/*0% {background-image: url('../images/imagem1.jpg');}
	25% {background-image: url('../images/imagem2.jpg');}
	50% {background-image: url('../images/imagem3.jpg');}
	75% {background-image: url('../images/imagem4.jpg');}
	100% {background-image: url('../images/imagem5.jpg');}*/
	/*0% {width: 10%;}
	10% {width: 20%;}
	20% {width: 30%;}
	30% {width: 40%;}
	50% {width: 50%;}
	60% {width: 60%;}
	70% {width: 70%;}
	80% {width: 80%;}
	90% {width: 90%;}
	100% {width: 100%;}*/
}
body p {
	font-family: 'Open Sans', sans-serif;
}
.menu button {
	cursor: pointer;
}
.menu a,
.menu button {
	font-size: 15px;
	transition: all 0.25s linear;
	border-radius: 4px;
	margin-right: 4px;
}
.menu a:hover,
.menu button:hover {
	color: #FFFFFF !important;
	background-color: #F781F3;
}
footer {
	bottom: 0;
	width: 100%;
}
.titulo {
	text-shadow: 5px 5px 2px #000000;
}
.subTitulo {
	color: #F781F3 !important;
}
@media (max-width: 769px) {
	.subTituloLista {
		font-size: 40px;
	}
}
@media (max-width: 438px) {
	.subTituloLista {
		font-size: 28px;
	}
}
.linkLista {
	text-shadow: 2px 2px 2px #000000;
	font-size: 25px;
}
.imgPrincipal {
	background-image: url('../images/imagem1.jpg');
	background-size: cover;	
	width: 100%;
	background-blend-mode: multiply;
	/*animation-name: imgPrincipalFundo;
	animation-duration: 10s;
	*/
	/*animation-delay: 4s;*/
}
.foto1 {
	min-height: 900px;
}
.presentes img {
	height: 169px !important;
	width: 180px !important;
}
.imagem {
	background-position: center;
	background-size: cover;	
	min-height: 265px;
	width: 700px;
}
.imagem1 {
	background-image: url('../images/imagem2.jpg');
	/*background-color: red;*/
}
.imagem2 {
	background-image: url('../images/imagem3.jpg');
	/*background-color: blue;*/
}
.imagem3 {
	background-image: url('../images/imagem4.jpg');
	/*background: green;*/
}
.imagem4 {
	background-image: url('../images/imagem5.jpg');
	/*background-color: gray;*/
}
.imagem5 {
	background-image: url('../images/imagem6.jpg');
	/*background-color: black;*/
}
.btn-warning {
	color: #FFFFFF !important;
}
.padrinhos img {
	/*width: 500px !important;*/
	/*height: 500px !important;*/
}

@media (max-width: 992px) {
	.menu {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
@media (max-width: 700px) {
	.container,
	.container-fluid {
		margin: 0px !important;
	}
}
@media(max-width: 440px) {
	
}

.corRosa {
	color: #F781F3 !important;
	font-weight: bold;

}
.corRosa:hover {
	background-color: #F781F3 !important;
	color: #FFF !important;
}
